gunicorn
plotly
dash
requests
dash_renderer
dash-html-components
dash-core-components
dash-bootstrap-components
pandas
numpy
plotly.express
openpyxl
yfinance
datetime
sort_dataframeby_monthorweek
sklearn
ta
talib
pendulum
